/node_modules
/public/hot
/public/storage
/progress/*.csv
/progress/__pycache__/
/storage/*.key
/public/*.log
/vendor
__pycache__/
.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
