/node_modules
/public/hot
/public/storage
/progress/*.exe
/progress/*.csv
/storage/*.key
/vendor
__pycache__/
.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
